<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}To-Do App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>My To-Do App</h1>
            <nav>
                <a href="{{ url_for('task.view_task') }}">Home</a>
                {% if 'user' in session %}
                <a href="{{url_for('auth.logout')}}">Logout</a>
                {% else %}
                <a href="{{url_for('auth.login')}}">Login</a>
                {% endif %}
                <a href="{{url_for('auth.register')}}">Register</a>

            </nav>
        </div>
    </header>
    
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 My Flask To-Do App</p>
        </div>
    </footer>
</body>
</html>
