{% extends "base.html" %}
{% block title %}Task{% endblock %}

{% block content %}
<div class="task-box">
    <h2>Your Tasks</h2>

    <!-- Add Task Form -->
    <form action="{{ url_for('task.add_task') }}" method="POST" class="task-form">
        <input type="text" name="title" placeholder="New task" required>
        <button type="submit" class="btn">Add</button>
    </form>

    {% if tasks %}
    <!-- Clear All Tasks -->
    <form action="{{ url_for('task.clear_all') }}">
        <button type="submit" class="btn btn-clear">Clear All Tasks</button>
    </form>
    <br>

    <!-- Task Table -->
    <table class="task-table">
        <thead>
            <tr>
                <th>Task No.</th>
                <th>Task</th>
                <th>Status</th>
                <th>Change</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ task.title }}</td>
                <td>
                    <span class="badge {{ task.status|lower }}">{{ task.status }}</span>
                </td>
                <td>
                    <form action="{{ url_for('task.toggle_status', task_id=task.id) }}" method="post">
                        <button class="btn-small" type="submit">Next</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('task.clear_tk', task_id=task.id) }}" >
                        <button type="submit" class="btn btn-clear" title="Delete Task">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tasks yet. Add one above!</p>
    {% endif %}
</div>
{% endblock %}