{% extends "base.html" %}
{%block title%}Feedback Form{%endblock%}
{%block content%}
<h2>Send us to Feedback</h2>
<form action="/" method="POST">
    <label for="username">Name</label>
    <input type="text" name="username" id="username" placeholder="enter your username" , value="{{username}}"> <br><br>

    <label for="message">Message</label>
    <input type="text" name="message" id="message" placeholder="enter you feedback message" value="{{message}}"><br><br>

    <input type="submit" value="Submit feedback">

</form>
{% endblock %}